body{
  margin:0;
  padding:0;
  background-image:url(blood.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}

a{
  padding:10px;
  text-decoration:none;
  font-family:"Varela Round";
  color:white;
  font-size:15px;
}
nav{
 background-color:#E74C3C;
}
