body{
  margin:0px;
  padding:0px;
  background-image:url(blood.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}

a{
  padding:10px;
  text-decoration:none;
  font-family:"Varela Round";
  color:white;
  font-size:20px;
}
nav{
 background-color:#E74C3C;
}

.content{
     margin-top: 570px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 50px;
    padding-bottom:50px;
    width: 100%;
    background-color: #c1440e;
}
